[Desktop Entry]
Type=Application
Version=1.0
Name=Parrot Installer
GenericName=Parrot Installer
TryExec=gksu calamares
Exec=gksu /usr/bin/calamares
Comment=System Installer
Icon=gdeb
Terminal=false
StartupNotify=false
Categories=Qt;System;
