[Desktop Entry]
Type=Application
Version=1.0
Name=Install Parrot OS
GenericName=System Installer
Keywords=calamares;system;installer
TryExec=calamares
Exec=sudo /usr/bin/calamares
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;


GenericName[ca]=Instal·lador de sistema
Comment[ca]=Calamares — Instal·lador de sistema
GenericName[da]=Systeminstallationsprogram
Comment[da]=Calamares — Systeminstallationsprogram
GenericName[de]=Installation des Betriebssystems
Comment[de]=Calamares - Installation des Betriebssystems
GenericName[en_GB]=System Installer
Comment[en_GB]=Calamares — System Installer
GenericName[es]=Instalador del Sistema
Comment[es]=Calamares — Instalador del Sistema
GenericName[fr]=Installateur système
Comment[fr]=Calamares - Installateur système
GenericName[he]=אשף התקנה
Comment[he]=קלמארס - אשף התקנה
GenericName[hr]=Instalacija sustava
Comment[hr]=Calamares — Instalacija sustava
GenericName[hu]=Rendszer Telepítő
Comment[hu]=Calamares — Rendszer Telepítő
GenericName[id]=Pemasang
Comment[id]=Calamares — Pemasang Sistem
GenericName[is]=Kerfis uppsetning
Comment[is]=Calamares — Kerfis uppsetning
GenericName[ja]=システムインストーラー
Comment[ja]=Calamares — システムインストーラー
GenericName[lt]=Sistemos diegimas į kompiuterį
Comment[lt]=Calamares — sistemos diegyklė
GenericName[nl]=Installatieprogramma
Comment[nl]=Calamares — Installatieprogramma
GenericName[pl]=Instalator systemu
Comment[pl]=Calamares — Instalator systemu
GenericName[pt_BR]=Instalador de Sistema
Comment[pt_BR]=Calamares — Instalador de Sistema
GenericName[cs_CZ]=Instalační program systému
Comment[cs_CZ]=Calamares - instalační program systému
GenericName[ru]=Установщик системы
Comment[ru]=Calamares - Установщик системы
GenericName[sk]=Inštalátor systému
Comment[sk]=Calamares — Inštalátor systému
GenericName[sv]=Systeminstallerare
Comment[sv]=Calamares — Systeminstallerare
GenericName[zh_CN]=系统安装程序
Comment[zh_CN]=Calamares — 系统安装程序
GenericName[zh_TW]=系統安裝程式
Comment[zh_TW]=Calamares ── 系統安裝程式
GenericName[ast]=Instalador del sistema
Comment[ast]=Calamares — Instalador del sistema
GenericName[pt_PT]=Instalador de Sistema
Comment[pt_PT]=Calamares - Instalador de Sistema
GenericName[tr_TR]=Sistem Yükleyici
Comment[tr_TR]=Calamares — Sistem Yükleyici
