#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem cmake --parallel
# --with kf5 

override_dh_auto_configure:
	dh_auto_configure -- -DWEBVIEW_FORCE_WEBKIT=1

override_dh_install:
	dh_install --list-missing

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/*/*/*/*/*/*/encrypt_hook
	chmod 755 debian/*/*/*/*/*/*/encrypt_hook_nokey
	chmod 755 debian/*/*/*/*/*/*/bootloader-eficonfig
